/* styles.css */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilo para cabeçalhos h1 e h2 */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilo para os formulários */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para os rótulos e campos de entrada */
label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para a tabela de resultados */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilo para links */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Adicione estas regras ao arquivo styles.css */

/* Estilo para a tabela principal de resultados */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Estilo para as linhas alternadas da tabela principal */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para a tabela de faixa de peso ideal */
table#ideal-weight {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table#ideal-weight, #ideal-weight th, #ideal-weight td {
    border: 1px solid #ddd;
}

#ideal-weight th, #ideal-weight td {
    padding: 10px;
    text-align: center;
}

/* Estilo para links */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
